
<th><h1>Update Your question</h1></th>
<form method='post' action='/questions/<%= @question.id %>'>
  <input type='hidden' name='_method' value='put'>
<table align=center>
  <tr>
      <td><label for="title">Title: </label></td>
      <td><input type="text" name="title" placeholder="title"></td>
  </tr>
  <tr>
      <td><label for="body">Enter your question here: </label></td>
      <td><textarea type='text' name="body"></textarea></td>
  </tr>
  <tr>
    <td></td>
    <td><input type="submit" name="question"></td>
  </tr>
  </table>
</form>
