<h3> Trending </h3>

<div>
<ul>
  <% @questions.each do |question|%>
    <li>
      <a href ="/questions/<%= question.id %>"><%= question.title%></a>
    </li>
  <% end %>
</ul>
</div>

<div>
  <li>
    <a href ="/questions/new"> Add a question </a>
  </li>
</div>
