<%= erb :'/_errors' %>
<form class="form_comment_answer" action="/answers/<%= @commentable.id %>/comments" method="post">
      <label for="text">Comment:</label>
      <textarea name="text" rows="4" cols="40"></textarea>
      <button type="submit" value="comment">submit comment</button>
</form>
