<%= erb :'/_errors' %>
<form class="form_comment" action="/answers/<%= @commentable.id %>/comments" method="post">
      <label for="text">Comment:</label>
      <textarea name="text" rows="4" cols="40"></textarea>
      <input type="submit" value="comment">
</form>
