<%= erb :'_errors' %>

<div class="register">
  <form class="registration-form" method="post" action="/users">
  <form class="registration-form form-inline" method="post" action="/users">
    <input type="text" name="user[username]" placeholder="username">
    <input type="email" name="user[email]" placeholder="email">
    <input type="password" name="user[password]" placeholder="password">
    <input type="password" name="password_confirmation" placeholder="confirm password">
    <input type="submit" value="Sign up">
  </form>
</div>
